html {
	min-height: 100%;
}

#register-body {
	width: 100%;
	background-image: url('../img/backgrounds/desktop-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form {
	text-align: center;
}

#login-panel {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	top: 80px;
	width: 35%;
	background-color: #FFFFFF;
	border: 3px solid #EDEDED;
	border-radius: 8px;
	padding: 10px;
	opacity: 0.98;
}
