
/*~~~~~~~~~~~~~~~~~~~~ GENERAL (SITE WIDE) STYLES ~~~~~~~~~~~~~~~~~~~~*/
textarea:focus {
	outline: 0;
}

html {
	font-family: 'Roboto', sans-serif;
	color: #F7F8F9;
}

body {
	line-height: 17px;
	background-color: #1e272e;
}

a {
	text-decoration: none;
	color: #20AAE5;
}

a:hover {
	text-decoration: none;
}

i {
	color: #F7F8F9;
}

hr {
	border-color: #F7F8F9;
}

.timestamp_smaller {
	font-size: 85%;
	margin: 0px;
}

.grey-font {
	color: #8C8C8C;
	display: inline-block;
}

.grey-font-two {
	color: #ACACAC;
	display: inline-block;
}

.tab-content {
	margin-top: 25px;
}

.column {
	background-color: #34495e;
	color: #F7F8F9;
	padding: 10px;
	margin-top: 25px;
	border-radius: 5px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#top-nav {
	z-index: 10;
	box-shadow: 0px 4px 8px #000;
	background-color: #34495e !important;
}

#nav-pic {
	height: 40px;
	border-radius: 50%;
	margin: -6px 0px -6px 0px;
}

#nav-pic:hover {
	height: 50px;
	border-radius: 50%;
	margin: -11px 0px -11px 0px;
}

.nav-item:hover {
	border-bottom: 5px solid #F7F8F9;
	margin-bottom: -11px;
}

#search_text_input {
	border: none;
	border-radius: 20px;
	background-color: #F7F8F9 !important;
	width: 180px;
}

#user-search-btn {
	background: url(../img/icons/search.png);
	background-repeat: no-repeat;
	background-size: 30px;
	padding: 7px 15px 7px 15px;
	position: relative;
	right: 50px;
	border: none;
}

#user-search-form {
	position: relative;
	left: 38px;
}

.mobile-nav {
	display: none;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~ NEWSFEED/PANELS ~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#post-panel {
	height: 120px;
}

#newsfeed-panel {
	margin-bottom: 25px;
	min-height: 449px;
}

#user-details {
	position: fixed;
	width: 350px;
	height: 170px;
	z-index: 3;
	color: #F7F8F9;
}

#user-details img {
	width: 100%;
	border-radius: 5px;
}

.user-links {
	font-size: 18px;
	line-height: 22px;
}

.user-stats {
	line-height: 22px;
}

#trending {
	position: fixed;
	width: 350px;
	height: 398px;
	top: 248px;
	z-index: 3;
	color: #F7F8F9;

}

/* BRING TO TOP OF PAGE (NEWSFEED/PROFILE) */
#new-post {
	position: fixed;
	bottom: 15;
	right: 15;
	z-index: 2;
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

#new-post i:hover {
	color: #000;
}

/* LOADING NEW POSTS IMG */
#loading {
	text-align: center
}

#loading img {
	width: 60px;
	height: auto;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ POST FORM ~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#uploadImage {
	width: 95%;
	height: 30px;
	background-color: #F7F8F9;
	border-radius: 3px;
	color: #000;
	font-weight: bold;
}

#uploadImage:hover {
	background-color: #CECECE;
}

#uploadImage img {
	width: 30px;
	height: 30px;
	display: inline;
	margin: auto;
}

.post-form textarea {
	background-color: #F7F8F9;
	position: relative;
	width: 100%;
	height: 80px;
	border-radius: 4px;
	margin-left: 8px;
	margin-top: 10px;
	border: 1px solid #D3D3D3;
	font-size: 16px;
	padding: 5px;
}

.post-form input[type='submit'] {
	position: relative;
	width: 95%;
	height: 45px;
	margin-top: 10px;
	margin-bottom: 5px;
}

#add-image {
	display: inline;
}

input[type='file'] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~ POST STRUCTURE ~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.delete-button {
	height: 22px;
	width: 22px;
	padding: 0px;
	float: right;
	border-radius: 4px;
	position: relative;
	right: -25px;
}

.embed-responsive {
	width: 80%;
	margin-top: 20px;
	margin-left: 12%;
	margin-right: 8%;
	margin-bottom: -30px;
}

.postedImage img {
	width: 80%;
	margin-top: 2px;
	margin-left: 12%;
	margin-right: 8%;
	margin-bottom: -15px;
	border-radius: 5px;
}

/* POST COMMENTS AND LIKES */
.newsfeedPostOptions {
	padding: 0px;
	text-decoration: none;
	color: #20AAE5;
	border: none;
}

.newsfeedPostOptions iframe {
	border: 0px;
	height: 17px;
	width: 120px;
}

.comment_like {
	background-color: transparent;
	border: none;
	font-size: 14px;
	color: #20AAE5;
	padding: 0px;
	height: auto;
	width: auto;
	margin: 0px;
}

.like_value {
	display: inline;
	font-size: 14px;
	color: #ACACAC;
}

.like-frame {
	position: relative;
	top: 1px;
}

.comment-grey {
	color: #ACACAC;
}

.comment-body {
	color: #F7F8F9;
}

/* POST COMMENTS */
#comment_iframe {
	max-height: 250px;
	width: 100%;
	margin-top: 8px;
	border-radius: 0px 0px 6px 6px;
}

.comment_section {
	padding: 5px 5px 0px 10px;
}

.comment_section img {
	margin: 0px 10px 3px 3px;
	border-radius: 3px;
}

#comment_form {
	width: 100%;
}

#comment_form textarea {
	background-color: #F7F8F9;
	border-color: #D3D3D3;
	width: 84%;
	height: 35px;
	border-radius: 5px;
	color: #616060;
	font-size: 14px;
	margin: 8px 6px 8px 12px;
	padding-left: 4px;
}

#comment_form input[type='submit'] {
	border: none;
	width: 15%;
	height: 35px;
	margin: 6px 3px 3px 4px;
	position: absolute;
	top: 2px;
}

#comment-posted {
	margin: 5px 0px 1px 10px;
}

/* INDIVIDUAL POST STYLES */
.status_post {
	width: 96%;
	font-size: 15px;
	padding: 0px 5px;
	min-height: 75px;
}

.post_profile_pic {
	float: left;
	margin-right: 7px;
}

.post_profile_pic img {
	border-radius: 5px;
}


/*~~~~~~~~~~~~~~~~~~~~~~ PROFILE PAGE STRUCTURE ~~~~~~~~~~~~~~~~~~~~~~*/
.profile-main-column, .profile-info {
	margin-left: auto;
	margin-right: auto;
}

.profile-main-column {
	margin-bottom: 25px;
	min-height: 300px;
}

#profile-details img {
	width: 50%;
	border-radius: 50%;
	margin-top: 10px;
	margin-bottom: 25px;
}

#profile-details p {
	font-size: 18px;
	line-height: 10px;
	color: #F7F8F9;
}

.profile-stats p {
	color: #F7F8F9;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25%;
	font-size: 24px;
	padding: 10px;
	background-color: #1e272e;
	border: 5px solid #1e272e;
	border-radius: 25px;
}

.profile-buttons .btn {
	width: 85%;
	margin-top: 20%;
	border-radius: 25px;
}

.profile-stats {
	margin-bottom: 1px;
	margin-top: 11px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~ SETTINGS PAGE ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* CHANGE PROFILE PIC */
.change-user-settings img {
	border-radius: 5px;
	width: 50%;
	height: auto;
}

#inside-form {
	padding: 10px;
}

/* SETTINGS PANELS */
.change-user-settings {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #F7F8F9;
	border-radius: 5px;
	padding: 10px;
}

.change-user-settings form {
	padding: 10px;
}

#settings-panel {
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

/* CLOSE PAGE */
#close-account {
	margin-bottom: 24px;
	margin-left: auto;
	margin-right: auto;
}

#close-account p {
 padding-right: 10px;
 padding-left: 10px;
 line-height: 20px;
}

#close-account input {
	margin: 5px 10px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~ FRIEND REQUESTS PAGE ~~~~~~~~~~~~~~~~~~~~~~~*/
#request-panel {
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	min-height: 300px;
}

#request-panel img {
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

#request-panel input {
	margin-top: 5px;
	margin-bottom: 25px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~ INDIVIDUAL POST PAGE ~~~~~~~~~~~~~~~~~~~~~~~*/
#single-post {
	margin-bottom: 25px;
	padding-top: 31px;
	padding-bottom: 31px;
}


/*~~~~~~~~~~~~~~~~~~~~~~ UPLOAD PROFILE PIC PAGE ~~~~~~~~~~~~~~~~~~~~~*/
#upload-pic-panel {
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

#uploadImageTwo {
	width: 180px;
	height: 38px;
	background-color: #FFB90D;
	border-radius: 4px;
	color: #F7F8F9;
	font-weight: normal;
	padding-top: 0.5px;
}

#uploadImageTwo:hover {
	background-color: #D69B0A;
}

#uploadImageTwo img {
	width: 30px;
	height: 30px;
	display: inline;
	margin: 4px auto;
	padding-bottom: 1.5px;
}

#upload-pic-panel p {
 padding-right: 10px;
 padding-left: 10px;
 line-height: 20px;
}

#upload-pic-panel input, #upload-pic-panel label {
	margin-left: 10px;
}

/* CROPPING AREA */
#CroppingContainer {
	width: 100%;
	height: auto;
	background-color: #F7F8F9;
	position: relative;
	overflow: hidden;
	border: 2px #666 solid;
	z-index: 2001;
	padding-bottom: 0px;
}

#CroppingArea {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	margin: 40px 25% 40px 25%;
	border: none;
}

#CroppingArea img {
	width: 50%;
	height: auto;
	border:0px #990000 solid;
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

#CropImageForm{
	width: 100%;
	height: auto;
	margin: 0px auto 10px auto;
}

#CropImageForm2 {
	width: 100%;
	height: auto;
	margin: 10px auto 30px auto;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ CLOSED ACCOUNT PAGE ~~~~~~~~~~~~~~~~~~~~~~~*/
#closed-account-panel {
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

#closed-account-panel i {
	color: #d72e3d;
}


/*~~~~~~~~~~~~~~~~~~~~~ USER SEARCH RESULTS PAGE ~~~~~~~~~~~~~~~~~~~~~*/
#search-results-panel {
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	min-height: 300px
}

#search-results-panel img {
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

#search-results-panel input {
	margin-top: 5px;
	margin-bottom: 25px;
}

#search-results-panel .grey-font {
	margin-bottom: 10px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~ MESSAGES PAGE ~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#message-pic {
	display: inline-block;
	float: right;
	border-radius: 5px 5px 0px 0px;
	width: 45px;
	height: auto;
	margin-top: -1px;
}

#messages-panel {
	margin-bottom: 25px;
	height: 594px;
}

#messages-panel textarea {
	background-color: #F7F8F9;
	position: relative;
	width: 100%;
	height: 45px;
	border-radius: 4px;
	margin-left: 8px;
	margin-top: 5px;
	border: 1px solid #D3D3D3;
	font-size: 16px;
	padding: 5px;
}

#messages-panel input[type='submit'] {
	position: relative;
	width: 95%;
	height: 45px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.message {
	border: 1px solid #000000;
	padding: 5px 10px;
	display: inline-block;
	color: #F7F8F9;
}

.message#blue {
	background-color: #3498DB;
	border-color: #2980B9;
	border-radius: 0px 5px 5px 5px;
	float: left;
	margin-bottom: 5px;
	max-width: 95%;
}

.message#green {
	background-color: #2ECC71;
	border-color: #27AE60;
	border-radius: 5px 0px 5px 5px;
	float: right;
	margin-bottom: 5px;
	max-width: 95%;
}

.loaded_messages {
	height: 65%;
	height: 420px;
	overflow: scroll;
	margin-bottom: 10px;
}

.loaded_conversations {
	max-height: 300px;
	overflow: scroll;
}


/*~~~~~~~~~~~~~~~~~~~ LIVE USER SEARCH & DROPDOWNS ~~~~~~~~~~~~~~~~~~~*/
.resultDisplay {
	padding: 9px 5px 0px 5px;
	height: 71px;
	border-bottom: 1px solid #D3D3D3;
}

.resultDisplay a {
	float: none;
}

.resultDisplay:hover {
	background-color: #EBEBEB;
	text-decoration: none;
}

.liveSearchProfilePic img {
	height: 50px;
	border-radius: 25px;
	margin: 1px 12px 0px 2px;
	float: left;
}

.liveSearchText {
	background-color: transparent;
	color: #1894CA;
}

.liveSearchText p {
	margin-left: 10px;
	font-size: 14px;
}

/* CONVERSATIONS PANEL & MESSAGED DROPDOWN */
.user_found_messages {
	border-bottom: 1px solid #D3D3D3;
	padding: 8px 8px 10px 8px;
}

.user_found_messages:hover {
	background-color: #EBEBEB;
}

.user_found_messages img {
	width: 40px;
	height: auto;
	float: left;
	border-radius: 5px;
	margin-top: -2px;
  margin-right: 8px;
}

/* NOTIFICATION DROPDOWN RESULTS */
.resultDisplayNotification {
	height: auto;
	min-height: 60px;
	color: #1485BD;
	padding: 8px 8px 10px 8px;
}
.resultDisplayNotification img {
	height: 40px;
	border-radius: 5px;
	margin: 2px 8px 0px 2px;
	float: left;
}

/* RESULTS DROPDOWN FROM NAV SEARCH */
.search_results {
	background-color: #F7F8F9;
	border: 1px solid #ACACAC;
	border-bottom: none;
	border-top: none;
	margin-top: 54px;
	margin-left: 50px !important;
	width: 300px;
	position: fixed;
	z-index: 3;
}

.search_results_footer {
	padding: 7px 4px 0px 4px;
	height: 30px;
	border: 1px solid #ACACAC;
	border-top: none;
	background-color: #343A40 !important;
	color: #F7F8F9;
	text-align: center;
	width: 300px;
	position: fixed;
	margin-left: -1px;
}

.search_results_footer a {
	color: #F7F8F9;
}

/* NOTIFICATIONS/MESSAGES DROPDOWN */
.dropdown_data_window {
	width: 300px;
	background-color: #F7F8F9;
	border: 1px solid #ACACAC;
	border-radius: 0px 0px 8px 8px;
	border-top: none;
	position: fixed;
	overflow: scroll;
	margin-top: 54px;
	z-index: 5;
}


/*~~~~~~~~~~~~~~~~~~~~~~~ NOTIFICATION BADGES ~~~~~~~~~~~~~~~~~~~~~~~~*/

.notification_badge {
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 8px;
	color: #FFFFFF;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #F00;
	border-radius: 10px;
	position: relative;
	left: -15px;
	top: -10px;
	height: 14px;
	margin-right: -20px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~ MOBILE MESSAGES PAGE ~~~~~~~~~~~~~~~~~~~~~~~*/
#mobile-messages-panel {
	height: 485px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

#mobile-message-data {
	height: 420px;
	overflow: scroll;
}


/*~~~~~~~~~~~~~~~~~~~~ MOBILE NOTIFICATIONS PAGE ~~~~~~~~~~~~~~~~~~~~~*/
#mobile-notifications-panel {
	height: 450px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

#mobile-notification-data {
	height: 420px;
	overflow: scroll;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ MEDIA QUERIES BELOW ~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~ SMALL DESKTOP/LAPTOP SCREEN ~~~~~~~~~~*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
	#user-details {
		width: 290px;
		height: 170px;
	}

	#user-details img {
		margin-top: 15px;
		margin-left: 10px;
	}

	#trending {
		width: 290px;
	}

	.search_results {
		margin-left: -10px !important;
	}

	#mobile-messages-panel {
		height: 485px;
		margin-bottom: 25px;
		margin-left: auto;
		margin-right: auto;
	}

	#mobile-message-data {
		height: 420px;
		overflow: scroll;
	}

	#mobile-notifications-panel {
		height: 450px;
		margin-bottom: 25px;
		margin-left: auto;
		margin-right: auto;
	}

	#mobile-notification-data {
		height: 420px;
		overflow: scroll;
	}

}


/*~~~~~~~~~~~~~ MOBILE TABLET SCREEN ~~~~~~~~~~~~~~*/
@media (min-width: 768px) and (max-width: 991.98px) {

	#user-details {
		display: none;
	}

	#trending {
		display: none;
	}

	#user-search-form {
		position: relative;
		left: 0px;
	}

	.mobile-nav {
		display: inline-block !important;
		color: #F7F8F9;
	}

	.desktop-nav {
		display: none;
	}

	#nav-pic:hover {
		height: 40px;
		border-radius: 50%;
		margin: -6px 0px -6px 0px;
	}

	.nav-item:hover {
		border-bottom: none;
		margin-bottom: 0px;
	}

	.dropdown_data_window {
		display: none;
	}

	#add-image {
		display: none;
	}

	.profile-stats p {
		font-size: 18px;
		padding: 10px 0px 10px 0px;
	}

	.notification_badge {
		left: 0px;
		top: 0px;
	}

	#mobile-messages-panel {
		height: 485px;
		margin-bottom: 25px;
		margin-left: auto;
		margin-right: auto;
	}

	#mobile-message-data {
		height: 420px;
		overflow: scroll;
	}

	#mobile-notifications-panel {
		height: 450px;
		margin-bottom: 25px;
		margin-left: auto;
		margin-right: auto;
	}

	#mobile-notification-data {
		height: 420px;
		overflow: scroll;
	}

	#CroppingArea img {
		width: 70%;
		height: auto;
	}

	#CroppingArea {
		margin: 40px 15% 40px 15%;
	}

	#messages-panel {
		height: 485px;
	}

	#messages-panel textarea {
		margin-top: 0px;
	}

	#messages-panel input[type='submit'] {
		margin-top: 0px;
		margin-bottom: 5px;
	}

	.loaded_messages {
		height: 319px;
	}

}


/*~~~~~~~ MOBILE CELLPHONE LANDSCAPE SCREEN ~~~~~~~*/
@media (min-width: 576px) and (max-width: 767.98px) {

	#user-details {
		display: none;
	}

	#trending {
		display: none;
	}

	#user-search-form {
		position: relative;
		left: 0px;
	}
	
	.mobile-nav {
		display: inline-block !important;
		color: #F7F8F9;
	}

	.desktop-nav {
		display: none;
	}

	#nav-pic:hover {
		height: 40px;
		border-radius: 50%;
		margin: -6px 0px -6px 0px;
	}

	.nav-item:hover {
		border-bottom: none;
		margin-bottom: 0px;
	}

	.dropdown_data_window {
		display: none;
	}

	#add-image {
		display: none;
	}

	.profile-stats p {
		width: 85%;
		margin-top: 5%;
		font-size: 18px;
		padding: 10px 0px 10px 0px;
	}

	.profile-buttons .btn {
		width: 85%;
		margin-top: 5%;
		margin-bottom: 5%;
	}

	.embed-responsive {
		width: 100%;
		margin-top: 30px;
		margin-left: 2%;
		margin-right: auto;
		margin-bottom: -30px;
	}

	.postedImage img {
		width: 100%;
		margin-top: 10px;
		margin-left: 2%;
		margin-right: auto;
		margin-bottom: -15px;
		border-radius: 5px;
	}

	.notification_badge {
		left: 0px;
		top: 0px;
	}

	#mobile-messages-panel {
		height: 485px;
		margin-bottom: 25px;
		margin-left: auto;
		margin-right: auto;
	}

	#mobile-message-data {
		height: 420px;
		overflow: scroll;
	}

	#mobile-notifications-panel {
		height: 450px;
		margin-bottom: 25px;
		margin-left: auto;
		margin-right: auto;
	}

	#mobile-notification-data {
		height: 420px;
		overflow: scroll;
	}

	#CroppingArea img {
		width: 70%;
		height: auto;
	}

	#CroppingArea {
		margin: 40px 15% 40px 15%;
	}

	#messages-panel {
		height: 485px;
	}

	#messages-panel textarea {
		margin-top: 0px;
	}

	#messages-panel input[type='submit'] {
		margin-top: 0px;
		margin-bottom: 5px;
	}

	.loaded_messages {
		height: 319px;
	}

}


/*~ MOBILE CELLPHONE PORTRAIT SCREEN ~~*/
@media screen and (max-width: 575.98px) { 

	#user-details {
		display: none;
	}

	#trending {
		display: none;
	}

	#user-search-form {
		position: relative;
		left: 0px;
	}

	.mobile-nav {
		display: inline-block !important;
		color: #F7F8F9;
	}

	.desktop-nav {
		display: none;
	}

	#nav-pic:hover {
		height: 40px;
		border-radius: 50%;
		margin: -6px 0px -6px 0px;
	}

	.nav-item:hover {
		border-bottom: none;
		margin-bottom: 0px;
	}

	.dropdown_data_window {
		display: none;
	}

	#add-image {
		display: none;
	}

	.profile-stats p {
		width: 100%;
		margin-top: 5%;
		font-size: 16px;
		padding: 10px 0px 10px 0px;
	}

	.profile-buttons .btn {
		width: 100%;
		margin-top: 5%;
	}

	.embed-responsive {
		width: 100%;
		margin-top: 20px;
		margin-left: 2%;
		margin-right: auto;
		margin-bottom: -30px;
	}

	.postedImage img {
		width: 100%;
		margin-top: 10px;
		margin-left: 2%;
		margin-right: auto;
		margin-bottom: -15px;
		border-radius: 5px;
	}

	#comment_form textarea {
		width: 73% !important;
	}

	#comment_form input[type='submit'] {
		width: 25%;
	}

	.notification_badge {
		left: 0px;
		top: 0px;
	}

	#mobile-messages-panel {
		height: 485px;
		margin-bottom: 25px;
		margin-left: auto;
		margin-right: auto;
	}

	#mobile-message-data {
		height: 420px;
		overflow: scroll;
	}

	#mobile-notifications-panel {
		height: 450px;
		margin-bottom: 25px;
		margin-left: auto;
		margin-right: auto;
	}

	#mobile-notification-data {
		height: 420px;
		overflow: scroll;
	}

	#CroppingArea img {
		width: 80%;
		height: auto;
	}

	#CroppingArea {
		margin: 40px 10% 40px 10%;
	}

	#messages-panel {
		height: 485px;
	}

	#messages-panel h4 {
		font-size: 20px;
		padding-top: 2px;
		margin-bottom: -2px;
	}

	#message-pic {
		border-radius: 5px 5px 0px 0px;
		width: 41px;
		height: auto;
		margin-top: -1px;
	}

	#messages-panel textarea {
		margin-top: 0px;
	}

	#messages-panel input[type='submit'] {
		margin-top: 0px;
		margin-bottom: 5px;
	}

	.loaded_messages {
		height: 319px;
	}

	#comment_form textarea {
		width: 84%;
	}

	#comment_form input[type='submit'] {
		width: 30%;
	}

	.delete-button {
		position: relative;
		right: -15px;
	}

}
