@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}

@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

body {
	line-height: 17px;
	background-color: #ECF0F1;
}

a {
	text-decoration: none;
	color: #20AAE5;
}

#top-bar {
	width: 100%;
	min-width: 1050px;
	height: 40px;
	background-color: #20AAE5;
	border-bottom: 0.25em solid #1894CA;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;
}

#logo a {
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-left: 10px;
	font-size: 150%;
	position: relative;
	top: 9px;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	color: #1086BA;

}

a:hover {
	text-decoration: none;
}

nav {
	float: right;
	right: 1px;
	position: absolute;
	margin: 10px;
}

nav a {
	position: relative;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 17px;
}

nav a:hover {
	border-bottom: 7px solid #E67E22;
	color: #FFFFFF;
}

.wrapper {
	margin: 0 auto;
	position: relative;
	top: 50px;
	padding: 0 10px;
	width: 75%;
	min-width: 950px;
}

.column {
	background-color: #FFFFFF;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	z-index: -1;
}

.user-details {
	width: 250px;
	float: left;
	margin-bottom: 20px;
}

.user-details-left-right {
	width: 125px;
	display: inline-block;
	position: absolute;
}

.user-details img {
	height: 125px;
	border-radius: 5px;
	margin-right: 5px;
}

.main-column {
	float: right;
	width: 70%;
	z-index: -1;
	min-height: 160px;
}

.post-form {
	width: 100%;
}

.post-form textarea {
	width: 81%;
	height: 60px;
	border-radius: 3px;
	margin-right: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
	padding: 5px;
}

textarea:focus {
	outline: 0;
}

.post-form input[type='submit'] {
	width: 11%;
	height: 60px;
	border: none;
	border-radius: 3px;
	background-color: #20AAE5;
	font-family: 'Bellota-BoldItalic', sans-serif;
	font-size: 120%;
	color: #1086BA;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	position: absolute;
	outline: 0;
	margin: 0;
}

.post-form input[type='submit']:active {
	padding: 5px 4px 4px 5px;
}

.status_post {
	width: 96%;
	font-size: 15px;
	padding: 0px 5px;
	min-height: 75px;
}

.post_profile_pic {
	float: left;
	margin-right: 7px;
}

.post_profile_pic img {
	border-radius: 5px;
}

#loading {
	text-align: center
}

#loading img {
	width: 60px;
	height: auto;
}

#comment_iframe {
	max-height: 250px;
	width: 100%;
	margin-top: 8px;
}

.comment_section {
	padding: 5px 5px 0px 10px;
}

.comment_section img {
	margin: 0px 10px 3px 3px;
	border-radius: 3px;
}

#comment_form textarea {
	border-color: #D3D3D3;
	width: 85%;
	height: 35px;
	border-radius: 5px;
	color: #616060;
	font-size: 14px;
	margin: 6px 3px 3px 6px;
}

#comment_form input[type='submit'] {
	border: none;
	background-color: #20AAE5;
	color: #1086BA;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	border-radius: 5px;
	width: 13%;
	height: 35px;
	margin: 6px 3px 3px 4px;
	position: absolute;
}

.newsfeedPostOptions {
	padding: 0px;
	text-decoration: none;
	color: #20AAE5;
	border: none;
}

.newsfeedPostOptions iframe {
	border: 0px;
	height: 17px;
	width: 120px;
}

.comment_like {
	background-color: transparent;
	border: none;
	font-size: 14px;
	color: #20AAE5;
	padding: 0px;
	height: auto;
	width: auto;
	margin: 0px;
}

.like_value {
	display: inline;
	font-size: 14px;
}

.profile-left {
	top: -10px;
	width: 17%;
	max-width: 240px;
	min-width: 130px;
	height: 100%;
	float: left;
	position: relative;
	background-color: #20AAE5;
	border-right: 10px solid #83D6FE;
	color: #CBEAF8;
	margin-right: 20px;
}

.profile-left img {
	min-width: 80px;
	width: 55%;
	margin: 20px;
	border: 5px solid #83D6FE;
	border-radius: 100px;
}

.profile-info {
	display: list-item;
	background-color: #1894CA;
	width: 100%;
	padding: 10px 0px 10px 0px;
}

.profile-info p {
	margin: 0px 0px 0px 20px;
	word-wrap: break-word;
	line-height: 20px;
}

.danger {
	background-color: #E74C3C;
}

.warning {
	background-color: #F0AD4E;
}

.default {
	background-color: #BDC3C7;
}

.success {
	background-color: #2ECC71;
}

.info {
	background-color: #349ADB;
}

.deep-blue {
	background-color: #0043F0;
}

.profile-left input[type="submit"] {
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0px 0px 7px;
	border: none;
	color: #FFFFFF;
}

#accept-button {
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #FFFFFF;
}

#ignore-button {
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #FFFFFF;
}

.delete-button {
	height: 22px;
	width: 22px;
	padding: 0px;
	float: right;
	border-radius: 4px;
	position: relative;
	right: -15px;
}

.profile-main-column {
	min-width: 675px;
	float: left;
	width: 70%;
	z-index: -1;
}

.profile-info-bottom {
	margin: 10px 0px 0px 7px;
}

#message_textarea {
	width: 84%;
	margin-right: 8px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
}

#message_submit {
	height: 40px;
	width: 10%;
	margin: 0px;
	position: absolute;
	border: none;
	background-color: #20AAE5;
	color: #1086BA;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	border-radius: 5px;
}

.message {
	border: 1px solid #000000;
	padding: 5px 10px;
	display: inline-block;
	color: #FFFFFF;
}

.message#blue {
	background-color: #3498DB;
	border-color: #2980B9;
	border-radius: 0px 5px 5px 5px;
	float: left;
	margin-bottom: 5px;
}

.message#green {
	background-color: #2ECC71;
	border-color: #27AE60;
	border-radius: 5px 0px 5px 5px;
	float: right;
	margin-bottom: 5px;
}

.loaded_messages {
	height: 65%;
	min-height: 300px;
	max-height: 400px;
	overflow: scroll;
	margin-bottom: 10px;
}










